$custom-theme: (
  "": (
    colorPrimary: #a436f3,
    colorSuccess: #67c23a,
    colorWarn: #e6a23c,
    colorError: #f56c6c,
    colorInfo: #909399,
    shapeFillet: 4px,
  ),
  "blue": (
    colorPrimary: #409eff,
    colorSuccess: #67c23a,
    colorWarn: #e6a23c,
    colorError: #f56c6c,
    colorInfo: #909399,
    shapeFillet: 4px,
  ),
  "violet": (
    colorPrimary: #8a2be2,
    colorSuccess: #67c23a,
    colorWarn: #e6a23c,
    colorError: #f56c6c,
    colorInfo: #909399,
    shapeFillet: 8px,
  ),
);
