* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '微软雅黑', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131313;
  min-height: 100vh;
}

.container {
  position: relative;
}

.card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: .5s ease-in-out;
  }

  &:hover {
    &::before {
      clip-path: circle(300px at 80% -20%)
    }
    .imgBx {
      top: 0%;
      transform: translateY(0);
    }
    .contentBx {
      height: 210px;
      .size, .color {
        opacity: 1;
        visibility: visible;
        transition-delay: .5;
      }
      a {
        opacity: 1;
        transform: translateY(0);
        transition-delay: .75s;
      }
    }
  }

  .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    height: 220px;
    width: 100%;
    transition: .5s;
    clip-path: ellipse(40% 30%);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 0;

    & h2 {
      position: relative;
      font-weight: 600;
      letter-spacing: 1px;
      color: #fff;
    }

    .size, .color {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      transition: .5s;
      opacity: 0;
      visibility: hidden;

      h3 {
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 10px;
      }
    }
    .size {
      span {
        display: inline-block;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        font-size: 14px;
        color: #111;
        background: #fff;
        margin: 0 5px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background: #9bdc28;
        }
      }
    }
    .color {
      span {
        width: 20px;
        height: 20px;
        margin: 0 5px;
        background: #ff0;
        border-radius: 50%;
        cursor: pointer;

        &:nth-child(2) {
          background: #9bdc28;
        }
        &:nth-child(3) {
          background: #03a9f4;
        }
        &:nth-child(4) {
          background: #e91e63;
        }
      }
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      background: #fff;
      border-radius: 4px;
      margin-top: 10px;
      text-decoration: none;
      font-weight: 600;
      color: #111;

      opacity: 0;
      transform: translateY(50px);
      transition: .5s;
    }
  }
}
