* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '微软雅黑', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0d0f1b;
  overflow: hidden;
}

ul {
  position: relative;
  display: flex;
  flex-direction: column;
  &:hover {
    a {
      opacity: 0;
    }
  }

  li {
    list-style: none;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font: {
        size: 6em;
        weight: 700;
      };
      pointer-events: none;
      letter-spacing: 20px;
      opacity: 0;
      transition: .5s;
      white-space: nowrap;
    }
    &:hover::before {
      opacity: .05;
      letter-spacing: 0;
    }

    a {
      position: relative;
      display: inline-block;
      padding: 6px 15px;
      text-decoration: none;
      background: #2196f3;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      overflow: hidden;
      transition: 0.5s;
      z-index: 1;
      &:hover {
        transform: scale(1.4);
        z-index: 100;
        background-color: #ff3f81;
        opacity: 1;

        &::before {
          left: calc(100% + 100px);
          transition: .5s {
            delay: .2s;
          };
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -100px;
        width: 80%;
        height: 100%;
        background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .8), transparent);
        transform: skew(35deg);
      }
    }
  }
}

